.root {
    padding: 15px 30px;
    font-size: 11px;
    font-family: 'Open sans';
    font-weight: 600;
    transition: all 0.2s linear;
    &.isFullWidth {
        width: 100%;
    }
    &.filled {
        &.black {
            color: white;
            background-color: black;
            border: 1px solid white;
            &:hover {
                color: black;
                border-color: black;
                background-color: white;
            }
        }
        &.white {
            color: black;
            background-color: white;
            border: 1px solid black;
            &:hover {
                color: white;
                border-color: white;
                background-color: black;
            }
        }
    }
    &.tiny {
        font-size: 11px;
        padding: 10px 20px;
    }
    &.small {
        font-size: 11px;
        padding: 15px 30px;
    }
    &.medium {
        font-size: 14px;
        padding: 12px 60px;
    }
}