.root {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 15px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    &-wrapper {
        border: 1px solid black;
        margin-top: 35px;
    }
    & > h1 {
        font-family: 'Alegreya Sans SC';
        font-weight: 500;
        font-size: 35px;
        color: #000000;
    }
}

.address {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & > p {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: #000000;
        padding: 14px 18px;
        border-left: 1px solid black;
    }
    & > div {
        display: flex;
        & > button {
            border: none !important;
            border-left: 1px solid black !important;
            border-right: 1px solid black !important;
            &:first-child {
                border-right: none !important;
                margin-right: 1px;
            }
        }
    }
    &-wrapper {
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
    &-openArrow {
        height: 30px;
        width: 15%;
        display: flex;
        opacity: 0.5;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-self: center;
        background-color: black;
        cursor: pointer;
        transition: all 0.2s ease-in;
        &::after {
            display: block;
            content: url('../../../assets/img/arrow_right_white.svg');
            transform: rotate(90deg);
        }
        &:hover {
            opacity: 1;
        }
        &.isActive {
            &::after {
                transform: rotate(-90deg);
            }
        }
    }
}

.details {
    display: flex;
    flex-direction: row;
    width: 100%;
    & > div {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-basis: 25%;
        font-family: 'ProximaNova';
        text-align: center;
        border-left: 1px solid black;
        padding: 14px 18px;
        & > span {
            font-weight: bold;
            font-size: 16px;
            color: #000000;
            margin-bottom: 10px;
            text-transform: uppercase;
        }
        & > p {
            font-weight: 300;
            font-size: 14px;
            color: #000000;
        }
        &:last-child {
            border-right: 1px solid black;
        }
    }
    &-wrapper {
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
}

.posts {
    display: flex;
    flex-direction: column;
    width: 100%;
    &-wrapper {
        margin-top: 35px;
        border: 1px solid black;
    }
    & > h1 {
        font-family: 'Alegreya Sans SC';
        font-weight: 500;
        font-size: 35px;
        color: #000000;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    & > div {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 33px;
        & > div {
            padding: 16px 35px;
            width: 100%;
            flex-basis: 49.3%;
            border: 1px solid #000000;
            & > div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                & > span {
                    width: 80%;
                    font-family: 'Open Sans';
                    line-height: 1.5;
                    font-weight: 700;
                    font-size: 17px;
                    text-transform: capitalize;
                    color: #000000;
                    margin-bottom: 5px;
                }
                & > p {
                    font-family: 'Open Sans';
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 1.5;
                    margin-top: 5px;
                }
            }
            & > p {
                font-family: 'Open Sans';
                font-weight: 400;
                font-size: 12px;
                line-height: 1.5;
                color: rgba(0, 0, 0, 0.41);
                margin-top: 5px;
            }
            &:hover {
                opacity: 0.6;
                cursor: pointer;
            }
        }
    }
}

.publications {
    width: 100%;
    display: flex;
    flex-direction: column;
    &-wrapper {
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
    &-list {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        padding-bottom: 40px;
        & > img {
            margin-right: 15px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    & > h1 {
        font-family: 'Alegreya Sans SC';
        font-weight: 500;
        font-size: 35px;
        color: #000000;
        padding-top: 25px;
    }
}