.root {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #101010;
    justify-content: space-between;
    padding: 15px 0;
    &-wrapper {
        width: 100%;
        background-color: #101010;
    }
}



.navigateToHome {
    width: 30%;
    & > button {
        font-size: 28px;
        font-weight: 700;
        font-family: 'Alegreya Sans SC';
        background-color: transparent;
        color: white;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        text-align: center;
        padding-top: 16px;
        padding-bottom: 8px;
    }
}

.navigateToProfile {
    display: flex;
    align-items: center;
    & > button {
        font-family: 'Open sans';
        font-size: 14px;
        font-weight: 600;
        color: black;
        border: none;
        background-color: white;
        padding: 12px 40px;
        cursor: pointer;
        &:first-child {
            margin-right: 12px;
        }
    }
}