$mobile-width: 320px;
$mobile-xl-width: 480px;
$portrait-width: 768px;
$landscape-width: 1000px;
$desktop-width: 1280px;
$desktop-xl-width: 1300px;
$hd-width: 1440px;
$full-hd-width: 1920px;

$background-color: #333333;
$navigation: #56CCF2;
$color-blue: #56CCF2;
$working-hours: #828282;
$service: #bdbdbd;
$white: #ffffff;
$bold: 'Lato';
$semibold: 'LatoSemiBold';
$normal: 'LatoWeb';
